body {
font-family: "Open Sans", sans-serif;    

}

.text-post {
    font-size: 12px;
}
#main {
    background-color: #FFFFFF;
    overflow: hidden;   
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    }
}

#header {
    margin: 0 0.5%;
}

.header-box {
    overflow: hidden;
    margin-bottom: 0px;
    padding-left: 5px;
}

.header-list {
    float: left;
    margin: 0px 10px 0px 0px;
    list-style-type: none;

}

#banner {
    float: bottom;
    margin: 2% 1%;

}

#nav-list {
    
}

#nav-list-menu {
    background-color: #222222;
    overflow: hidden;
    color: white;
    padding-left: 5px;
    height: 45px;
    margin: 4px 0px 0px;
    font-size: 13.4px;
}

.nav-list {
    float: left;
    list-style-type: none;
    width: 0px 80px;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px;
}

#trending-now-post {
    background-image: cover;
}

#trending-now {
    overflow: hidden;
    margin: 0px auto;
}

#trending-h2 {
    padding-left: 5px;
    text-transform: uppercase;
    background-color: #E86828;
    width: 150px;
    margin: 15px 13px;
    padding: 5px 0px 5px 12px;
}

#trending-p {
    float: right;
    width: 500px;
    clear: right;

}
.trending-post {
    float: left;
    width: 350px;
    height: 420px;
}

#food-matter-section {
    height: auto;
}

.title-food {
    float: right;

}

.genre-post {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 10px;
}

.date-post {
    color: #9C9C9C;
    font-size: 10px;
}

.food-matter-principal {
    float: left;
    width: 320px;
    height: auto;
    overflow: hidden;
    margin: 30px 10px 50px 10px;
}

.h2-foodmatter {
    border-bottom: 2.5px solid #E38D56;
    padding-bottom: 5px;
}

.food-matter {
    float: left;
    width: 320px;
    height: auto;
    margin: 30px 10px 50px 10px;
    padding: 73px 0px 0px;

}

.food-matter-list {
    margin-bottom: 10px;

}



.post-text {
    float: right;
    margin-top: -20px;
}

#most-popular {
    float: right;
    background-color: #8ACB88;
    width: 320px;
    height: 700px;
    margin: 10px 20px 10px 10px;

}

#travel-guide {
 width: 680px;
 height: 300px;
 margin: 5px 10px 10px;
 overflow: hidden;
}

#h2-travelguide {
    border-bottom: 2.5px solid #2479D5;
}



.travel-guide-post {
    width: 200px;
    height: 180px;
    float: left;
    margin: 0px 10px;

}

.footer-travel-guide {
    margin-top: -4px;
    font-weight: 600;
    font-size: 14px;

}

#healthy-column {
    width: 680px;
    height: 350px;
    margin: 0px 10px;
}

#h2-healthylife {
    border-bottom: 2.5px solid #42D524;
}

.healthy-life {
background-color: #BBB5BD;
float: left;
margin: 0px 10px;
width: 300px;
height: 350px;
overflow: hidden;
}

.healthy-life-post {


    

}

.healthy-list {
    background-color: #B118C8;
    float: bottom;
    width: 230px;
    margin: 140px 10px;
    height: 200px;
}

#culture {
 background-color: #CDD3CE;
 width: 900px;
 margin: 20px auto;
 overflow: hidden;
}

.culture-column {
 background-color: #000000;
 float: left;
 width: 200px;
 height: 180px;
 margin: 0px 40px;
}

#sports-news {
float: left;
margin: 20px 10px;
background-color: #6D8EA0;
overflow: hidden;
width: 680px;
height: 950px;
}

.sports {
    background-color: #AFA98D;
    overflow: hidden;
    width: 640px;
    height: 160px;
    margin: 20px 10px;

}

#fitness {
    float: right;
    width: 320px;
    height: 950px;
    background-color: #401F3E;
    overflow: hidden;
    margin: 20px 10px;

}

.fitness-post {
    background-color: #6D8EA0;
    margin: 10px auto;
    width: 280px;
    height: 290px;
}

#footer {
    background-color: #70163C;
    width: 1200px;
    height: 480px;
    overflow: hidden;
    clear: bottom;
}

#principal-section-footer {
}



#news {
    background-color: #6D8E;
    width: 300px;
    height: 400px;
    margin: 10px 10px;
    float: left;

}

#even-more-news {
    background-color: #6D8E;
    width: 300px;
    height: 400px;
    margin: 10px 10px;
    float: left;

}

.footer-news {
    background-color: #2b2118;
    width: 280px;
    height: 100px;
    margin: 10px 5px;
}

#popular-creation {
    background-color: #6D8E;
    width: 300px;
    height: 400px;
    margin: 10px 10px;
    float: left;
}

#last {
    float: bottom;
    background-color: #4F359B;
    overflow: hidden;
    width: 1200px;
    height: 50px; 

}