header {
    background-color: beige;
}
.pagina {
    width: 1300px;
    margin: 0 auto;
    background-color: #f6f6f6;
}
.logo {
    /* background-color: black; */
    width: 200px;
    height: 47px;
    margin: 0 auto;
}

nav {
    margin-top: 10px;
}
.redes {
    background-color: blue;
    width: 100px;
    height: 47px;
    display: inline-block;

}
.menu {
    background-color: gray;
    width: 400px;
    height: 47px;
    margin: 0 auto;
}
.menu-center {
    width: 1090px;
    display: inline-block;
}
.buscador {
    background-color: pink;
    width: 100px;
    height: 47px;
    float: right;
}
.banner {
    background-image: url(https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2019/03/05/7f568964/dg_wt_screens-1-1.jpg);
    height: 462px;
    margin-bottom: 10px;
}

.size-1 {
    width: 1200px;
    margin: 0 auto;
}
.news-1 {
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-1 {
    width: 200px;
    height: 150px;
    background-color: darkgreen;
    display: inline-block;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.size-2 {
    width: 1000px;
    /* background-color: gray; */
    margin: 0 auto;

}
.news-2 {
    width: 700px;
    display: inline-block;
}
.box-2 {
    background-color: yellow;
    width: 620px;
    height: 400px;
    margin-bottom: 10px;
}
.aside-1 {
    background-color: orange;
    width: 300px;
    height: 810px;
    float: right;
}
.box-3 {
    background-color: purple;
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
}
.column-1 {
    float: right;
    margin-right: 25px;
} 
.column-2 {
    float: right;
    margin-right: 25px;
} 
.column-3 {
    float: right;
    margin-right: 25px;
}

.reviews {
    background-color: #312d2d;
    height: 300px;
    margin-bottom: 10px;
    clear: both;
}
.box-4 {
    background-color: #fc003f;
    width: 260px;
    height: 140px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.reviews-box {
    margin-left: 230px;
}
.more {
    background-color: aqua;
    width: 1000px;
    height: 40px;
    margin-bottom: 20px;
    clear: both;
}
footer {
    background-color: black;
    height: 300px;
}
.title {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
}
.link {
    text-decoration: none;
    color: black;
    font-size: 35px;
}
h3 {
    color: white;
    text-align: center;
    font-family: "Unica One", cursive;
    font-size: 16px;
}
.square {
    width: 100px;
    height: 30px;
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: calc(50% - 89px);
}
.square-2 {
    height: 462px;
    margin: 0 auto;
    position: relative;
}
.parrafo-1 {
    text-align: center;
    font-family: "Faustina", serif;
}
.link-2 {
    text-decoration: none;
    color: blue;
    font-family: "Unica One", cursive;
}
